.client {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.client__item {
  height: 92px;
  @include grid(2);

  @media screen and (min-width: 768px) {
    @include grid(3);
  }
  @media screen and (min-width: 1200px) {
    @include grid(6);
  }
}
.client__thumb {
  height: 100%;
  @include centeredFlex();
  @include background;
  fill: getColorLight("icon");
  border: 1px solid getColorLight("icon");
  border-radius: 4px;
  @include Animation(fill, border);

  &:hover,
  &:focus {
    fill: getColorAccent("accent-primary");
    border: 1px solid getColorAccent("accent-primary");
  }
}
