.menu-button {
  z-index: 99;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.icon-cross {
  display: none;

  &:hover,
  &:focus {
    fill: getColorAccent("accent-primary");
  }
  .menu-button.is-open & {
    display: block;
  }
}
.icon-burger {
  display: block;

  &:hover,
  &:focus {
    fill: getColorAccent("accent-primary");
  }

  .menu-button.is-open & {
    display: none;
  }
}
.menu-container {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: getColorDark("secondary");
  background-color: getColorLight("light");

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 100vh;
    padding: 48px 40px;

    &.is-open {
      display: block;
      overflow-y: scroll;
      z-index: 1;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 88px;
    font-weight: 500;
    @include regularText($l-s: 0.02em);
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.navigation {
  @media screen and (max-width: 767px) {
    margin-bottom: 306px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.navbox {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  &__item:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
}
.navbox__item:not(:last-child),
.authnav__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}
.navbox__link {
  color: getColorDark("secondary");
  @include Animation(color);
  @media screen and (min-width: 768px) {
    padding: 32px 0;
  }
  &:hover,
  &:focus {
    color: getColorAccent("accent-primary");
  }
}
.navbox__link--current {
  position: relative;
  color: getColorAccent("accent-primary");

  &::after {
    @media screen and (min-width: 768px) {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 0;

      background-color: getColorAccent("accent-primary");
      border-radius: 2px;
    }
  }
}
.contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
}
.authnav {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.authnav__item:last-child {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.authnav__link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17em;
  letter-spacing: 0.02em;

  color: getColorDark("theme");
  @include Animation(color);

  @media screen and (min-width: 768px) {
    @include regularText($l-s: 0.03em);
  }

  &:hover,
  &:focus {
    color: getColorAccent("accent-primary");
  }
}
.authnav__link--accent {
  @media screen and (max-width: 767px) {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18em;
    letter-spacing: 0.02em;
    color: getColorAccent("accent-primary");
  }
}

.authnav__icon {
  fill: currentColor;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 14px;
    max-height: 14px;
  }
}

.authnav__icon--left {
  margin-right: 10px;
}
.social-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
